form(action="/blogs" method="POST")
    label Title 
       input(type="text" name="title" )
    lable Body
       input(type="textbox" name="body" )
    label Image 
       input(type="text" name="image" )

    button(type="submit" class="ui ") SUBMIT
